.mainbox {
	width: 50% !important;
	display: none;
}
  
@media only screen and (min-width: 413px) {
	.mainbox {
		width: 50% !important;
		display: block;
	}
}

.mobilebox {
	width: 50% !important;
	display: none;
}

@media only screen and (max-width: 413px) {
	.mobilebox {
		width: 50% !important;
		display: block;
	}
}